﻿@model IEnumerable<WebApplication1.ViewModel.UsuarioViewModel>

<script type="text/javascript" src="~/Scripts/Programmers.js"></script>
<script>
    var urlGet = '@Url.Action("ModalUsuario", "Home")';
    var urlSave = '@Url.Action("SaveUsuario", "Home")';
    var urlEdit = '@Url.Action("EditUsuario", "Home")';
    var urlDelete = '@Url.Action("DeleteUsuario", "Home")';
</script>
<div class="jumbotron">
    <h1>Cadastro de Usuario</h1>
    <p class="lead">Simples cadastro de usuarios</p>
</div>

<div class="container">
    <a href="#" class="btn btn-info" onclick="ModalUsuario();">Novo</a>
    <div class="panel">
        <div id="msg"></div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> Código </th>
                    <th> Nome </th>
                    <th> Email </th>
                    <th> Ação </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                <tr>
                    <td> @item.UsuarioId </td>
                    <td> @item.Nome</td>
                    <td> @item.Email </td>
                    <td> @item.Telefone </td>
                    <td>
                        <a href="#" class="btn btn-danger" onclick="Remove(@item.UsuarioId);"> <i class="glyphicon glyphicon-trash"></i> </a>
                        <a href="#" class="btn btn-default" onclick="Edit(@item.UsuarioId);"> <i class="glyphicon glyphicon-edit"></i></a>
                    </td>
                </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4"> Nenhum registro encontrado</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div id="Modal"></div>

   
</div>

